<div *ngIf="data" class="container">
  <table mat-table [dataSource]="data" class="mat-elevation-z8" color="accent">

    <ng-container [matColumnDef]="column" *ngFor="let column of columns">
      <th mat-header-cell *matHeaderCellDef> {{ propertyTitles[column] }} </th>
      <td mat-cell *matCellDef="let element" [innerHtml]="
        (formatColumns[column] ? formatColumns[column](element[column])
                               : element[column]) | sanitizeHtml">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;" (click)="onSelect(row)"
        [class.selected]="selectedRow && (row === selectedRow)"></tr>
  </table>
</div>
