<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Performance Tester</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR.js"></script>
</head>
<body>

    @RenderBody()

    <script type="text/javascript" src="~/angular/runtime.js"></script>
    <script type="text/javascript" src="~/angular/es2015-polyfills.js" nomodule></script>
    <script type="text/javascript" src="~/angular/polyfills.js"></script>
    <script type="text/javascript" src="~/angular/styles.js"></script>
    <script type="text/javascript" src="~/angular/main.js"></script>
</body>
</html>
