<div class="container">
    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <h2>Enter the website address</h2>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field color="accent" class="container">
                <input matInput #input placeholder="Target uri" type="url" (keyup.enter)="submit()"
                    [formControl]="uriValidator" required>
                <mat-error *ngIf="uriValidator.invalid">{{getErrorMessage()}}</mat-error>
                <span matPrefix>
                    <mat-select [(value)]="protocol">
                        <mat-option value="https://">https://</mat-option>
                        <mat-option value="http://">http://</mat-option>
                    </mat-select><span style="display: inline-block" class="selected">{{protocol}}</span>
                </span>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
            <button mat-raised-button class="test-button" [class.isValid]="uriValidator.valid"
                    (click)="submit()" (keyup.enter)="submit()"><b>TEST!!!</b></button>
        </mat-card-actions>
    </mat-card>

</div>