@import 'variables';

:host {
    @extend .defaultHost;

    &::ng-deep {
      .done {
        color: map-get($green-palette, 300);
      }
      .hourglass_empty {
        color: map-get($yellow-palette, 900);
      }
    }
}

.container {
    @extend .defaultContainer;
}

@media only screen and (max-width: 599px) {
    :host {
      &::ng-deep {
  
        .mat-header-cell:first-child,
        .mat-header-cell:nth-child(6),
        .mat-row .mat-cell:first-child,
        .mat-row .mat-cell:nth-child(6) {
          display: none;
        }
      }
    }
  }
  
  @media only screen and (max-width: 440px) {
    :host {
      &::ng-deep {
  
        .mat-header-cell:nth-child(3),
        .mat-header-cell:nth-child(4),
        .mat-row .mat-cell:nth-child(3),
        .mat-row .mat-cell:nth-child(4) {
          display: none;
        }
      }
    }
  }